accelerate==1.6.0
annotated-types==0.7.0
anyio==3.7.1
audioread==3.0.1
httptools==0.6.4
huggingface-hub==0.30.2
lazy_loader==0.4
librosa==0.10.1
numpy==1.26.4
packaging==24.2
pillow==11.1.0
platformdirs==4.3.7
pooch==1.8.2
protobuf==3.20.3
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.1
urllib3==2.3.0
uvicorn==0.23.2
uvloop==0.21.0
websockets==15.0.1
sentencepiece==0.2.0